
<header>
  <h1>Monoply Marketplace</h1>
</header>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Monuments', monuments_path %>
  <%= link_to 'Sell a Monument', new_monument_path %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Sign Up!', new_user_registration_path %>
  <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/users/sign_out">
  Log Out
</a>
</nav>
