<!-- create a navbar for my application and want this navbar to be contained into a "header"
class that I will create in my application.css file. I will also want to add a link to
the home page, a link to the monuments index page, and a link to the new monument page.
I will use the link_to helper method to create these links. The link_to helper method
takes two arguments: the text that will be displayed on the page and the path that the
link will take the user to. I will use the root_path for the home page, the monuments_path
for the monuments index page, and the new_monument_path for the new monument page. -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Monuments</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Monuments", monuments_path %></li>
      <li><%= link_to "New Monument", monuments_new_path %></li>
    </ul>
  </div>

  <!-- I want to list all the monuments on my homepage -->
  <!-- I will use the each method to iterate over the array of monuments and display each
  monument's name, location, description, and price. I will use the link_to helper method
  to create a link to the show page for each monument. The link_to helper method takes
  two arguments: the text that will be displayed on the page and the path that the link
  will take the user to. I will use the monument_path for the show page for each monument.
  I will also add a link to the new monument page. -->
  <div class="container">
    <h1>Monuments</h1>
    <ul>
      <% @monuments.each do |monument| %>
        <li>
          <%= link_to monument.name, monuments_path(monument) %>
          <%= monument.location %>
          <%= monument.description %>
          <%= monument.price %>
        </li>
      <% end %>
    </ul>
    <%= link_to "New Monument", monuments_new_path %>
  </div>
</div>
