<div id="<%= dom_id monument %>">
  <p>
    <strong>Name:</strong>
    <%= monument.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= monument.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= monument.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= monument.price %>
  </p>

  <p>
    <%= #link_to "Show this monument", monument %>
  </p>
</div>
