  <!-- I want to list all the monuments on my homepage -->
  <!-- I will use the each method to iterate over the array of monuments and display each
  monument's name, location, description, and price. I will use the link_to helper method
  to create a link to the show page for each monument. The link_to helper method takes
  two arguments: the text that will be displayed on the page and the path that the link
  will take the user to. I will use the monument_path for the show page for each monument.
  I will also add a link to the new monument page. -->

  <div class="container" id="<%= dom_id monument %>">
  <div class = "anouncecard">
    <div class= "name">
    <p>
    <strong></strong>
    <%= monument.name.capitalize %>
    </div>
    </p>

    <div class = "monument">
      <%= image_tag "tajpicture.jpg", class:"imagemonument" %>
    </div>

  <div class = "description">
    <p>
      <strong>Location:</strong>
      <%= monument.location  %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= monument.description %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= monument.price %>
    </p>
    <p>
      <%= link_to "Find out more", monument %>
    </p>
  </div>
  </div>
  </div>
