<%= render 'header' %>

<!-- div class container -->
<div class="post-show-container">
  <h1>Welcome to <%= @monument.name %>'s details</h1>
    <div class="justify-content-between d-flex showpage">
      <div class="picture">
        <% if @monument.photo.present? %>
          <%= cl_image_tag @monument.photo.key, height: 400, width: 500, crop: :fill %>
        <% else %>
          <%= image_tag "https://via.placeholder.com/300x400.png?text=No+Image+Found", height: 300, width: 400 %>
        <% end %>
      </div>
      <div class="monument-show">
        <p><%= @monument.location %></p>
        <p><%= @monument.description %></p>
        <%= link_to "Buy!", new_monument_offer_path(@monument) %>
      </div>
    </div>
  </div>
</div>

  <hr>

<!-- the following is commented out because we have not added images to the database-->
   <!--  <div class = "monuments-grid">
      <%# <% @list.monuments.each do monument %> %>
      <%# <div class= "box-poster"> %>
        <%# <img class = "img-responsive" src = "<%= monument.image %>" alt = ""> %>
        <%# <p class = "movie-path"><%= link_to monument.name, monument_path(monument) %></p> %>
      <%# </div> %>
    <%# <% end %> %>
  </div> -->

<!-- I will use the link_to helper method to create a link to the home page -->
  <%= link_to "Home", root_path %>
</div>
