<div class="offerrow">
<h1>Offers Index</h1>


 <div class="container my-2">
 <h2>--Offers you have made--</h2>
  <div class="row">
    <div id="monuments" data-insert-in-list-target="items">

        <% @offers.each do |offer| %>
        <% if offer.user == current_user%>
          <div class="description">
          <h3 class="text-left"> Your offer to buy: <%= offer.monument.name.capitalize %></h3>
          <p> For: <%= offer.monument.price %> </p>
          <p> From the owner: <%= offer.monument.user.username %> </p>
          <p> Status: <%= offer.status %> </p>
          </p>
          </div>
        <% end %>
        <% end %>
      </div>
      </div>
</div>


 <div class="container my-2">
 <h2>--Offers for your monuments--</h2>
  <div class="row">
    <div id="monuments" data-insert-in-list-target="items">

        <% @offers.each do |offer| %>
        <%@offer = offer%>
        <% if offer.monument.user == current_user %>
          <div>
          <h3> The user: <%= offer.user.username %></h3>
          <p> Has offered to buy your monument: <%= offer.monument.name.capitalize %> </p>
          <p> For: <%= offer.monument.price %> </p>
          <p> Status: <%= offer.status %> </p>
          <%= link_to "Confirm Offer",
  offer_path(@offer, status: "accepted"),
  data: {turbo_confirm: "Are you sure?"}
%>
<%= link_to "Reject Offer",
  offer_path(@offer, status: "rejected"),
  data: { turbo_confirm: "Are you sure?"}
%>


          </p>
          </div>
        <% end %>
        <% end %>
      </div>
      </div>
      </div>

</div>
